@model IEnumerable<Project_BusinessManagement.Models.MTaxe>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (!string.IsNullOrEmpty(Model.First().LMessageException))
{
    <div class="alert alert-danger">
        <strong>Advertencia! </strong> @Model.First().LMessageException
    </div>
}

<h2>Impuestos</h2>
@if (Model.Count() > 0)
{
    @Html.HiddenFor(model => model.First().LIdProduct, new { htmlAttributes = new { @class = "form-control" } })   
}
<p>
    @Html.ActionLink("Asociar Impuesto al producto", "AssociateProduct", new { pIdProduct = Model.First().LIdProduct })
</p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.LIdTaxe)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LNameTaxe)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LValueTaxe)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LIsPercent)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.LIdTaxe)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LNameTaxe)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LValueTaxe)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LIsPercent)
                    </td>
                    <td>
                        
                        @Html.ActionLink("Delete", "Delete", new {  pIdTaxe =item.LIdTaxe, pIdProduct = item.LIdProduct }) 
                    </td>
                </tr>
                
            }
        </table>



