@model IEnumerable<Project_BusinessManagement.Models.MOrder>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Realizar Pedidos", "DashBoardOrder")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LIdOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LCreationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LCustomer.LNameCustomer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LCustomer.LLastNameCustomer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LInventory.LNameInventory)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LIdOrder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LCreationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LCustomer.LNameCustomer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LCustomer.LLastNameCustomer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LInventory.LNameInventory)
        </td>
        <td>
            @Html.ActionLink("Items", "Index","OrderItem", new {  pIdOrder = item.LIdOrder}, null)
            @Html.ActionLink("Factura", "Details", "Invoice", new { pIdOrder = item.LIdOrder }, null)
        </td>
    </tr>
}

</table>
