@using Project_BusinessManagement.Extensibles
@model IList<Project_BusinessManagement.Models.MSupplier>

@{
    ViewBag.Title = "Proveedores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Proveedores</h2>

<p>
    @Html.ActionLink("Crear Nuevo Proveedor", "Create").IfAllowedConfiguration("CreateSupplier")
</p>

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-2">
                @Html.Label("", "Por Nombre")
            </div>
            <div class="col-md-10">
                @Html.TextBox("pSearchName")
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="filtrar" class="btn btn-info" />
            </div>
        </div>
    </div>
<div class="table-responsive">
    <table class="tablesorter">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.First().LIdSupplier)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().LNameSupplier)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().LNoIdentification)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().LCreationDate)
                </th>
                <th></th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.LIdSupplier)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LNameSupplier)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LNoIdentification)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LCreationDate)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.LIdSupplier }).IfAllowedConfiguration("EditSupplier") |
                        @Html.ActionLink("Detalle", "Details", new { id = item.LIdSupplier }) |
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.LIdSupplier }).IfAllowedConfiguration("DeleteSupplier")
                    </td>
                </tr>
            </tbody>
        }

    </table>
    @Html.Partial("~/Views/Shared/_Pagination.cshtml")
</div>

}