@model Project_BusinessManagement.Models.MInventoryItem

@{
    ViewBag.Title = "Detalle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Detalle Items de Inventario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LIdInventoryItem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LIdInventoryItem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LInventory.LNameInventory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LInventory.LNameInventory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LProduct.LNameProduct)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LProduct.LNameProduct)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LQtySellable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LQtySellable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LQtyNonSellable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LQtyNonSellable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LCreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LCreationDate)
        </dd>  

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new {  id = Model.LIdInventoryItem }) |
    @Html.ActionLink("Ir a lista de items de inventario", "Index", new { id = Model.LInventory.LIdInventory })
</p>
