@model Project_BusinessManagement.Models.MCustomer

@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.LMessageException != null)
{
    <div class="alert alert-danger">
        <strong>Error!</strong> @Model.LMessageException
    </div>
}

<h2>Eliminar</h2>

<h3>Esta seguro de eliminar este cliente?</h3>
<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.LNameCustomer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LNameCustomer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LLastNameCustomer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LLastNameCustomer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LCreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LCreationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LTypeIdentification)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LTypeIdentification.LTypeIdentification)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LNoIdentification)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LNoIdentification)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            @Html.ActionLink("Ir a Lista de Clientes", "Index")
        </div>
    }
</div>
