@model IEnumerable<Project_BusinessManagement.Models.MCustomer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Clientes</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="table-responsive">
    <table class="tablesorter">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LIdCustomer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LNameCustomer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LLastNameCustomer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LCreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LNoIdentification)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LIdCustomer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LNameCustomer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LLastNameCustomer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LCreationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LNoIdentification)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new {  id=item.LIdCustomer  }) |
                    @Html.ActionLink("Detalle", "Details", new {  id=item.LIdCustomer  }) |
                    @Html.ActionLink("Eliminar", "Delete", new {  id=item.LIdCustomer  })
                </td>
            </tr>
        }

    </table>
 </div>