@model IEnumerable<Project_BusinessManagement.Models.MInventory>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LIdInventory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LNameInventory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LCreationDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LIdInventory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LNameInventory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LCreationDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
