@model IEnumerable<Project_BusinessManagement.Models.MOrderItem>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>>
        <th>
            @Html.DisplayNameFor(model => model.LCreationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LQty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LValueProduct)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LValueSupplier)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LValueTaxes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LValueDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LValueTotal)
        </th>

    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.LCreationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LQty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LValueProduct)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LValueSupplier)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LValueTaxes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LValueDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LValueTotal)
        </td>
               
    </tr>
}

</table>
