@model Project_BusinessManagement.Models.MProduct

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalle</h2>

<div>
    <h4>Producto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LIdProduct)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LIdProduct)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LNameProduct)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LNameProduct)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LCdProduct)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LCdProduct)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LCreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LCreationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LValueSupplier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LValueSupplier)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new {  id = Model.LIdProduct  }) |
    @Html.ActionLink("Ir a Lista de Productos", "Index")
</p>
