@model IEnumerable<Project_BusinessManagement.Models.MProduct>

@{
    ViewBag.Title = "Productos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Productos</h2>

<p>
    @Html.ActionLink("Crear Producto", "Create")
</p>

<table class="tablesorter">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LIdProduct)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LCdProduct)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LNameProduct)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LCreationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LValueSupplier)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LIdProduct)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LCdProduct)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LNameProduct)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LCreationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LValueSupplier)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new {  id=item.LIdProduct }) |
            @Html.ActionLink("Detalle", "Details", new {  id=item.LIdProduct }) |
            @Html.ActionLink("Eliminar", "Delete", new {  id=item.LIdProduct })
        </td>
    </tr>
}
</table>

<div id="pager" class="pager">
    <form>
        <a href="#"><img src="~/Images/Icons/IFirst.png" class="first" alt="Primero" title="Primero" /></a>
        <a href="#"><img src="~/Images/Icons/IPrev.png" class="prev" alt="Anterior" title="Anterior" /></a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <!-- the "pagedisplay" can be any element, including an input -->
        <span class="pagedisplay" data-pager-output-filtered="{startRow:input} &ndash; {endRow} / {filteredRows} of {totalRows} total rows"></span>
        <a href="#"><img src="~/Images/Icons/INext.png" class="next" alt="Siguiente" title="Siguiente" /></a>
        <a href="#"><img src="~/Images/Icons/ILast.png" class="last" alt="Ultimo" title="Ultimo" /></a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <select class="pagesize">
            <option value="10" selected="selected">10</option>
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="500">500</option>
            <option value="1000">1000</option>
        </select>
    </form>
</div>
